.presentation {
    background-color: $bg-grey;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    h1, p {
        text-align: center;
    }
    .btn {
        align-self: center;
        padding: 10px 0;
    }
}