.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $bg-grey;
    &_card {
        display: flex;
        flex-direction: column;
        height: 251px;
        width: 85%;
        background-color: $bg-white;
        margin: 10px auto;
        border-radius: 20px;
        box-shadow: 0 0 10px 5px #f2f2f2;
        &--new {
            display: block;
            position: absolute;
            margin: 1em 0 0 12em;
            width: 80px;
            height: 30px;
            background-color: $clr-tertiary;
            text-align:center;
            line-height: 30px;
            font-size: 0.9em;
        }
        img {
            height: 174px;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
        &--txt {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 77px;
        }
        &--p {
            padding: 15px 0 0 10px;
            p {
                margin: 0 0 5px 3px;
            }
        }
        &--name {
            font-weight: bolder;
        }
    }
    .fa-heart {
        padding: 30px 15px 0 0;
    }
}